AUTO_DISCOVER_CONTROLLER=true
DEFAULT_CONTROLLER=index        # Default controller, is optional. Default is already set to index, but you can change it to whatever you want.
DEFAULT_ACTION=index            # Default action, is optional. Default is already set to index, but you can change it to whatever you want.
